<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <p>
                Ani.me
            </p>
        </div>

        <nav>
            <ul class="nav-links">
                <li class="nav-link-content">
                    <a href="#">
                        Início
                    </a>
                </li>

                <li class="nav-link-content">
                    <a href="/user/lista">
                        Lista
                    </a>
                </li>

                <li class="nav-link-content">
                    <a href="#">
                        Gêneros
                    </a>
                </li>

                <li class="nav-link-content">
                    <a href="#">
                        Novos episódios
                    </a>
                </li>
            </ul>

            <div class="seach-container">
                <form action="/search-anime" method="get">
                    <input name="search" type="search" placeholder="Buscar">
                </form>
            </div>
        </nav>
    </header>

    <div class="filter-container">

    </div>

    <main>
        <section id="ultimas-novidades">

        </section>

        <section id="ultimas-atualizacoes">

        </section>

        <section id="animes-recentes">

        </section>
    </main>

    <footer>

    </footer>
</body>
</html>