<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="formContainer">
        <form id="formulario-registro" action='/user/addUser' method="post">
            <input type="email" name="email" placeholder="email" value="<%= body.email %>">
            <input type="password" name="password" placeholder="password" value="<%= body.password %>">
            <input type="text" name="name" placeholder="name" value="<%= body.name %>">

            <button>
                Registrar
            </button>
        </form>
    </div>
</body>
</html>